.flex-container {
  display: flex;
  justify-content: center;
}

.drawingBuffer {
  position: absolute;
}

video {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

#interactive.viewport canvas, video {
  float: left;
  width: 320px;
  height: 300px;
}
