.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 98vh;
}

#topbar {
  text-align: center;
  width: 100%;
  font-size: 2vh;
  color: white;
  background: tan;
}

h1,p {
  margin: 0;
}

.drawingBuffer {
  border: 2px green solid;
  height: 0vh;
  width: 0vh;
  visibility: hidden;
}

video {
  border: 2px blue solid;
}

#interactive.viewport canvas, video {
  /* width: 64vh;
  height: 36vh; */
}

#scanner {
  width: 100%;
}

#number {
  font-size: 3vh;
  text-align: center;
}

#interactive {
  border: 2px red solid;
}

div {
  border: 1px black solid;
}

button {
  background-color: brown; /* Green */
  border: none;
  color: white;
  padding: 1vh 4vh;
  margin: 0.5vh;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3vh;
  border-radius: 1vh;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */

    .flex-container, #topbar {

    }

}
